:root {
  --text: #324860;
  --text-h: #005d87;
  --bg: #f2d094;
  --border: #C9C1B1;
  --code-bg: #f4f3ec;
  --accent: #0060ba;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: #1B2632;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  letter-spacing: 0.18px;
  color: var(--text);
  /*background: linear-gradient(to top left, var(--bg), var(--code-bg) );*/
    font-family: "Roboto Light", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    background-image: url("assets/wood-pattern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;

}
h1 {
    color: var(--text-h);
  font-size: 42px;
  margin: 52px 0 15px 0;
  @media (max-width: 1024px) {
    font-size: 28px;
    margin: 35px 5px 15px 5px;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
h3{
    color: var(--text);
    font-size: 21px;
    font-weight: normal;
    margin: 15px 10px;
}
#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* --- Barre de navigation --- */
.navbar {
    background-color: #efc585;
    background-image: url("assets/wood-pattern.png");
    color: var(--text-h);
    top: 0;
    border-radius: 0 0 15px 15px;
    z-index: 50;
    box-shadow: 0 2px 8px rgba(126, 80, 42, 0.31);
}
.navbar-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link, .navbar button.nav-link {
    text-decoration: none;
    color: var(--text-h);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.2s;
}
.navbar button.nav-link{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.nav-link:hover, .navbar button.nav-link:hover {
    color: white;
}
.desktop-only {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.mobile-only {
    display: none;
}
.burger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.burger-icon {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--text-h);
    position: relative;
    transition: background 0.3s;
}
.burger-icon::before, .burger-icon::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--text-h);
    transition: transform 0.3s;
}
.burger-icon::before { top: -8px; left: 0; }
.burger-icon::after { top: 8px; left: 0; }

/* Animation du burger en croix */
.burger-icon.is-open { background-color: transparent; }
.burger-icon.is-open::before { transform: translateY(8px) rotate(45deg); }
.burger-icon.is-open::after { transform: translateY(-8px) rotate(-45deg); }

.mobile-menu {
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid #C9C1B1;
    padding: 1rem;
    display: flex;
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    gap: 1rem;
}

.mobile-link {
    color: var(--text-h);
    text-decoration: none;
    padding: 0.75rem 0;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid white;
    font-size: 16px;
    background-color: transparent;
}
.mobile-link:last-child{
    border-bottom: none;
}
/*Bibliothèque de livres : couv + titre*/
div.shelf{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0 10px;
    @media (min-width: 450px) {
        padding: 0;
        gap: 20px;
    }
}
div.HPlivresMini{
    width: 45%;
    @media (min-width: 450px) {
        width: 28%;
    }
    @media (min-width: 750px) {
        width: 22%;
    }
    @media (min-width: 850px) {
        width: 17%;
    }
    @media (min-width: 1024px) {
        width: 14%;
    }
    @media (min-width: 1300px) {
        width: 12%;
    }
}
div.HPlivresMini:hover{
    opacity: 0.7;
}
div.HPlivresMini a{
    text-decoration: none;
}
div.HPlivresMini img{
    width: 100%;
    aspect-ratio: 2/3;
    background-size: cover;
    box-shadow: rgba(43, 40, 40, 0.33) 5px 3px 10px;
    border: 1px solid #959298;
    transition: transform .3s;
}
div.HPlivresMini:hover img{
    transform: scale(1.05);
}
div.HPlivresMini div.siPasCouv {
    background-color: #34383c;
    background: linear-gradient(to right bottom, #43474e, #2c2f32);
    text-align: center;
    width: 100%;
    border: 1px solid #959298;
    aspect-ratio: 2/3;
    vertical-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .3s;
}
div.HPlivresMini:hover div.siPasCouv {
    transform: scale(1.05)
}
div.HPlivresMini div.siPasCouv h2{
    font-size: 18px;
    color: #EEE9DF;
    opacity: 0.3;
    margin: 0 2px;
}
p.HPlivresTitre{
    font-size: 14px;
    margin: 5px 2px;
    color: var(--text);
}
.search-bar-container {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.search-input, .genre-select, .user-select, .cat-select {
    width: 100%;
    max-width: 300px;
    padding: 0.4rem 0.8rem;
    border-radius: 25px;
    border: 2px solid var(--bg); /* Couleur bois */
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    outline: none;
    box-shadow: 2px 2px 5px rgba(177, 96, 28, 0.1);
    transition: all 0.3s ease;
}
.genre-select, .user-select, .cat-select {
    max-width: fit-content;
    padding: 0.4rem 0.5rem;
}
.search-input:focus, .genre-select:focus, .user-select:focus, .cat-select:focus {
    border-color: var(--accent);
    box-shadow: 0 0 10px rgba(177, 96, 28, 0.1);
}
option.griser{
    color: grey;
}
/*----- Pagination ---*/
.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
}

.pagination button.active {
    background: #333;
    color: white;
    border-color: #333;
}

.pagination button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
/* ---- BOUTONS ------*/
form button, input, select, label, button.btn{
    padding: 3px 5px 2px 5px;
    font-size: 16px;
    margin-bottom: 8px;
}
button, select {
    cursor: pointer;
}
input, select, form button, button.btn {
    border-radius: 5px;
    border: 1px solid grey;
}
button.btn{
    background-color: var(--text);
    color: white;
    border-color: var(--text);
    transition: all .3s;
}
form button:hover, button.btn:hover {
    background-color: white;
    color: var(--text);
    border-color: var(--text);
}
button.btn.btn-vert {
    background-color: rgb(179, 255, 212);
    color: #0b8053;
    border-color: #0b8053;
}
button.btn.btn-vert:hover{
    background-color: #ffdcdc;
    color: darkred;
    border-color: darkred;
}
button.btn.btn-rouge:hover {
    background-color: rgb(179, 255, 212);
    color: #0b8053;
    border-color: #0b8053;
}
    /* --- Animation de glissement --- */
.slide-enter-active, .slide-leave-active {
    transition: all 0.3s ease;
    max-height: 200px;
    overflow: hidden;
}
.slide-enter-from, .slide-leave-to {
    max-height: 0;
    opacity: 0;
}
.modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal > div{
    background-color: var(--bg);
    background-image: url("assets/wood-pattern.png");
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--text);
    width: fit-content; /* Could be more or less, depending on screen size */
}
div.wrapper{
    margin-bottom: 25px;
    padding: 20px;
    @media (min-width: 550px) {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        gap: 25px;
    }
}
/* --- Media Queries (Responsive) --- */
@media (max-width: 768px) {
    .navbar {
        position: sticky;
    }
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
    }
}